---
import Layout from "../layouts/Layout.astro";
import LeadCard from "../components/LeadCard.astro";
import Card from "../components/Card.astro";
import { IProduct, widthClasses } from "../types";

// Получаем данные с сайта
const response = await fetch("http://fakestoreapi.com/products?limit=8");
// Переделываем данные в список JSON-объектов
const products = (await response.json()) as IProduct[];
// Отделяем первый продукт для первой карточки
const firstProduct = products.shift();

// Список ширин карточек, в том порядке, в котором они будут показываться
const widthClassesOfCards: widthClasses[] = [
	widthClasses["w-1/3"],
	widthClasses["w-1/3"],
	widthClasses["w-1/3"],
	widthClasses["w-1/2"],
	widthClasses["w-1/2"],
	widthClasses["w-2/3"],
	widthClasses["w-1/3"],
];
---

<Layout
	title="AstroGhostwind главная страница"
	description="Описание сайта"
	keywords="разные, ключевые, слова"
>
	<LeadCard
		product={firstProduct}
	/>
	<div class="flex flex-wrap justify-between pt-12 -mx-6">
		{
			products.map((products, index) => (
				<Card
					product={products}
					widthClass={widthClassesOfCards[index]}
				/>
			))
		}
	</div>
</Layout>
