---
import AuthorContainerLayout from "./AuthorContainerLayout.astro";
import SubscribeContainerLayout from "./SubscribeContainerLayout.astro";
---

<div class="container max-w-5xl mx-auto -mt-32">
	<div class="mx-0 sm:mx-6">
		<SubscribeContainerLayout />
		<AuthorContainerLayout />
	</div>
</div>
