---
import AuthorContainerLayout from "./AuthorContainerLayout.astro"
---

<div class="container px-4 md:px-0 max-w-6xl mx-auto -mt-32">
    <div class="mx-0 sm:mx-6">
        <div class="bg-gray-200 w-full text-xl md:text-2xl text-gray-800 leading-normal rounded-t"></div>
        <AuthorContainerLayout></AuthorContainerLayout>
    </div>
</div>
