---
import HTMLHead from "./HTMLHead.astro";
import HeaderLayout from "./HeaderLayout.astro";
import ContainerLayout from "./ContainerLayout.astro";
import FooterLayout from "./FooterLayout.astro";

// Определяем тип данных, которые мы ожидаем
interface Props {
	title: string;
	description?: string;
	keywords?: string;
}

// Получение данных
const {
	title = "Страница AstroGhostwind",
	description,
	keywords
} = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
<HTMLHead
	title={title}
	description={description}
	keywords={keywords}
/>
<body class="bg-gray-200 font-sans leading-normal tracking-normal">
	<HeaderLayout />
	<ContainerLayout>
		<slot />
	</ContainerLayout>
	<FooterLayout />

	<script is:inline src="https://unpkg.com/popper.js@1/dist/umd/popper.min.js"></script>
	<script is:inline src="https://unpkg.com/tippy.js@4"></script>
	<script is:inline>
		//Init tooltips
		tippy('.avatar')
	</script>
</body>
</html>