---
// Список ссылок для менюшки
const navLins = [
	{ text: "Active", url: "#", active: true },
	{ text: "link1", url: "#" },
	{ text: "link2", url: "#" },
	{ text: "link3", url: "#" },
];
---

<div
	class="flex w-full pt-2 content-center justify-between md:w-1/2 md:justify-end"
>
	<ul class="list-reset flex justify-center flex-1 md:flex-none items-center">
		{
			navLins.map((navElement) => (
				<li>
					<a
						class={
							"inline-block py-2 px-3 no-underline " +
							(navElement.active
								? "text-white"
								: "text-gray-600 hover:text-gray-200 hover:underline")
						}
						href={navElement.url}
					>
						{navElement.text}
					</a>
				</li>
			))
		}
	</ul>
</div>
